body {
    margin: 0;
    padding: 0;
    background-color: rgba(22, 2, 10, 0.897);
    color: #DFDFDF;
    font-family: 'Anek Bangla', sans-serif;
    height: 100vh;
    font-variant: small-caps;
}

/*  

    1f1c1c-22181c-dfdfdf-a2909f-331f22 

    font-family: 'Archivo Black', sans-serif;

    */

a {
    text-decoration: none;
    color: #DFDFDF;
    transition: color 0.3s ease;

}

li {
    width: 150px;
}

a:hover, li:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.044);
}

nav {
    font-family: 'Archivo Black', sans-serif;
    color: #A2909F;
    background-color: #22181C;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>div>a:nth-child(1) {
    margin-right: 50px;

}

.site-title {
    font-size: 70px;
    text-decoration: none;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-buttons {
    text-decoration: none;
    font-size: 30px;
}

input[type="text"] {
    border: 2px solid #A2909F;
    padding: 10px;
    width: 176px;
    background-color: #1F1C1C;
    color: #A2909F;
}

input[type="text"]::placeholder {

    color: #A2909F;
    text-decoration: none;
}

input[type="submit"] {
    border: 2px solid #A2909F;
    padding: 10px;
    cursor: pointer;
    background-color: #1F1C1C;
    color: #A2909F;
}

.activity-panel {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 15%;
    margin-right: 15%;
    gap: 40px;
    font-size: 30px;
    line-height: 0.9;
    margin-bottom: 200px;

}

.activity-panel>div {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 40px;
    border: 4px solid #A2909F;
    padding: 10px;
    height: 200px;
    align-items: center;
    border-radius: 25px;
    transition: background-color 0.5s ease;
    opacity: 0.66;
}


.activity-panel>div:hover {
    background-color: #A2909F;
    color: black;
    opacity: 1;
}

footer {

    font-family: 'Archivo Black', sans-serif;
    color: #A2909F;
    background-color: #22181C;
    padding: 50px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 200px;

}

.footer-.activity-panel>h3 {
    letter-spacing: 0.44rem;
    font-size: 35px;
}

aside>h1, aside>p {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.05rem;
}

aside>h1, aside>p {
    font-size: 40px;

}





/* estils pels items amb descripcio*/
.activity-panel-about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
}

.activity-panel-about>div {
    max-width: 400px;
    margin: 15px;
    padding: 60px;
    text-align: center;
    background-color: #dfdfdd;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 350px;
    justify-items: center;
    margin-bottom: 75px;
}


.activity-panel-about>div:hover {
    transform: scale(1.1);
}

.activity-panel-about>div>h1 {
    font-size: 55px;
    color: #1F1C1C;
    line-height: 0;
}

.activity-panel-about>div>p {
    font-size: 22px;
    line-height: 0.95;
    color: #1F1C1C;
    margin-bottom: 35px;
}


.activity-panel-about>div>img {
    height: auto;
    max-height: 400px;
    width: 350px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px;

}

.activity-panel-about>div:hover img {
    transform: scale(1.1);
}

.activity-panel-about>div:nth-child(2)>h1, .activity-panel-about>div:nth-child(4)>h1 {
    line-height: .7;
}

.activity-panel-about>div:nth-child(6)>h1 {
    line-height: .9;
}