<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="register">


        <form @submit.prevent="register" class="form">
            <h2 class="title mt-5">Registrarse</h2>
            <div class="group">
                <label for="name">Nombre de usuario</label>
                <input type="text" class="inputbox" id="name" v-model="name" required>
            </div>
            <div class="group">
                <label for="email">Email</label>
                <input type="email" class="inputbox" id="email" v-model="email" required>
            </div>
            <div class="group">
                <label for="password">Contraseña</label>
                <input type="password" class="inputbox" id="password" v-model="password" required>
            </div>
            <button type="submit" class="btn btn-success btn-register">Registrarse</button>
        </form>
    </div>

</body>

</html>